.App {
  font-family: sans-serif;
  text-align: center;
}

.Table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-auto-flow: dense;
}

.TableElem {
  border: 1px solid;
}
